<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="QueryRetrieveServerAET" value="ORTHANC" />
		<add key="QueryRetrieveServerHost" value="localhost" />
		<add key="QueryRetrieveServerPort" value="4242" />
		<add key="StoreServerAET" value="ORTHANC" />
		<add key="StoreServerHost" value="localhost" />
		<add key="StoreServerPort" value="4242" />
		<add key="DicomEditorAET" value="SCU" />
	</appSettings>
</configuration>